.password_main
{
    
    width: 100%;
    /* height: 76.8vh; */
    display: flex;
    justify-content: center;
    
   
    
}
.password_heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}



.password_sub
{
    display: flex;
    width: 90%;
    height: 50vh;
}

.password_input
{
    background-color: gainsboro;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
}

.password_input1
{
    width: 70%;
    border: 1px solid black;
    height: 3vh;
    border-radius: 1vh;
    
}

.password_btn 
{
    width: 40%;
    border: 1px solid black;
    background-color: gray;
    border-radius: 1vh;
   
    
}
/* .header
{
    display: flex;
   
} */

/* .letter
{
    display: flex;
    justify-content: center;
}

.logout_button
{
    display: flex;
    justify-content: center;
} */

